body {

  background-color: hsl(147, 50%, 47%);
  align-items: center

}

.Clock {

  color: hsl(103, 0%, 0%);
  text-align: center;
  font-size: 50px;
  font-style: italic;
  font-weight: bold;
  font-family: "Sofia", sans-serif;
  border: 15px solid green;
  background-color: yellow;
  border-radius: 30px;

}

.Option select{

 color: white;
 background-color: red; 
 font-weight: bold;
 border-radius: 40px
   
}

.Hi {

   color: indigo;
   background-color: white; 
   font-weight: bold; 
   font-family: "Lucida Console", "Courier New", monospace;
   font-style: "oblique"
   border-radius: 80px  
   border: 15px solid grey;
   border: 15px solid grey;
   width : 275px

   
}

.Intro {

   color: indigo;
   background-color: yellow; 
   font-weight: bold;
   font-family: "Times New Roman", Times, serif;
   border-radius: 20px 

}

.Clk {

   color: indigo;
   background-color:hsl(0, 25%, 50%); 
   font-weight: bold;
   border: 15px solid blue;
   border-radius: 20px
    
}

.Time {

   background-color: brown;
   color: white;
   
}

.Fajr {

   background-color: blue;
   color: white;
}

.Dhuhr {

   background-color: orange;
   color: white;
}

.Asr {

   background-color: indigo;
   color: white;
}

.Maghrib {

   background-color: grey;
   color: white;
}

.Isha {

   background-color: black;
   color: white;
}

.Country {

   background-color: #3c3c3c;
   color: white;
   border-style: dotted;
   border-color: blue;
}
